<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
<div class="container">
<table class="table">
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>操作</th>
    </tr>
    <% for(let i=0;i<title.length;i++){%>
    <tr>
        <td><%=title[i].uid%></td>
        <td><%=title[i].uname%></td>
        <td><%=title[i].age%></td>
        <td>
            <a class="btn btn-success" href="/updata/<%=title[i].uid%>" role="button">修改</a>
            <a class="btn btn-danger" href="/del/<%=title[i].uid%>" role="button">删除</a>
        </td>
    </tr>
    <%}%>
</table>
    <a href="/add" class="btn btn-primary"><span class="glyphicon glyphicon-plus"  style="font-size: 16px;"> 添加</span></a>
</div>
</body>
</html>